<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  </head>
  <body>
    <h1>テスト！！！！！！！！！！！！！</h1>

    <% require 'pg' %>

    <% connection = PG::connect(dbname: "goya") %>
    <% connection.internal_encoding = "UTF-8" %>
    
    <% result = connection.exec("SELECT * FROM crops WHERE NOT (give_for = '自家消費') ;") %>
    <% data = [] %>

    <% result.each do |record| %>
      <%  data << "譲渡先：#{record["give_for"]}" %>
    <% end %>

    <form action="goya_1.cgi" method="POST">
    下記のボタンを押すと、ゴーヤの譲渡先が自家製以外の情報ページに飛びます<br><br>
    <input type="text" name="give_for" value="<%= data.join(' ') %>">
    <input type="submit" name="送信" >
    </form>
    
    <% result = connection.exec("SELECT * FROM crops WHERE quality = false;") %>
    <% data = [] %>
    
    <% result.each do |record| %>
     <%  data << "品質：#{record["quality"]}" %>
    <% end %>

    <form action="goya_2.cgi" method="POST">
    下記のボタンを押すと、ゴーヤの品質情報ページに飛びます<br><br>
    <input type="text" name="quality" value="<%= data.join(' ') %>">
    <input type="submit" name="送信" >
    
    </form>

   
  </body>
</html>